/* Genel Stiller */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    color: #333;
}

/* Ana Başlık ve Açıklama */
.section-title {
    font-size: 2em;
    font-weight: 600;
    color: #275462;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;

}

.section-description {
    font-size: 1em;
    font-weight: 300;
    color: #666;
    text-align: center;
    margin-bottom: 30px;
    max-width: 800px;
}

/* Harita Konteyneri */
.location-section {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.map-container {
    width: 90%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.map-container iframe {
    width: 100%;
    height: 450px;
    border: 0;
    border-radius: 10px;
}

/* Responsive Tasarım */
@media (max-width: 768px) {
    .section-title {
        font-size: 1.8em;
    }

    .section-description {
        font-size: 0.9em;
    }

    .map-container iframe {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .section-title {
        font-size: 1.6em;
    }

    .section-description {
        font-size: 0.85em;
    }

    .map-container iframe {
        height: 250px;
    }
}
