*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #f7f7f7;
    color: #333;
    text-align: center;
}



/* Galeri Stili */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 0;
    padding-top: 90px;
    padding-bottom: 90px;
}

.gallery-item {
    position: relative;
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 8px;
    
}

.gallery-item img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.05);
}

/* Başlık Stili */
.gallery-item .title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .title {
    opacity: 1;
}

/* Tam Ekran Görüntüleyici */
.fullscreen-viewer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: #fff;
    flex-direction: column;
    
}

.fullscreen-viewer img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 8px;
}

.fullscreen-title {
    margin-top: 15px;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
}

/* Oklar ve Kapatma İkonu */
.arrow, .close {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 15px;
    user-select: none;
}

.arrow.left {
    left: 20px;
}

.arrow.right {
    right: 20px;
}

.close {
    top: 20px;
    right: 20px;
    font-size: 2.5rem;
}

/* Responsive Ayarları */
@media (max-width: 768px) {
    .gallery-item {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex: 1 1 100%;
        max-width: 100%;
    }
}