*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

body{
    background-color: #b2bec3;
    font-family: "Open Sans", sans-serif;
}


/*SIDEBAR START*****************************************************************/

.sidebar header h3{
  font-size: 16px;
}

.profile{
  display: flex;
  
}

.welcome{
  visibility: hidden;
  
}

.successAlert{
width: 100%;
height: 30px;
font-size: 20px;
background-color: #D1E7DD;
color: #45A049;

}

.sidebar-container{
  width: 240px;
}


.sidebar{
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background: #1e1e1e;
  transition: all .5s ease;
}
.sidebar header{
  font-size: 28px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #1b1b1b;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}
.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
}
a.active,a:hover{
  border-left: 5px solid #b93632;
  color: #b93632;
}
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: 15px 30px;
  font-size: 29px;
  background: #262626;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}
@media(max-width : 860px){

.profile{
display: flex;
      flex-direction: column;
}
  .sidebar-container{
      position: fixed;
      
      
     
  }
  .sidebar{
    height: auto;
    width: 100%;
    left: 0;
    margin: 0 0;
    display: flex;
    
  }
 
  header,#btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a{
    height: 60px;
  }
  .sidebar a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}
/*SIDEBAR END*****************************************************************/





/*CONTAINER START*****************************************************************/
.container {
    width: 90%;
    display: flex;
}
/*FORM START*****************************************************************/
form {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form img{
  width: 120px;
  height: 140px;
  display: flex;
  align-self: center;
  justify-self: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

@media only screen and (max-width: 800px){
  .welcome{
      visibility: visible;
      background-color: #1b1b1b;
      color: wheat;
      padding: 10px 10px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  } 

  .container {
      width: 100%;
      margin-top: 60px; 
      flex-direction: column;  
  }
  .container form{
      width: 100%;
  }
}
/*FORM END*****************************************************************/



/*AGRITAL AD START*****************************************************************/
.agritalAd {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 40px;
  /* Kullanıcıyı yormayacak gri tonu */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.agritalAd h1, .agritalAd h2, .agritalAd p {
  padding: 10px;
  color: #333; /* Açık siyah yazı rengi */
}

.agritalAd h1 {
  align-self: center;
  color: #00b63e; /* Yeşil başlık rengi */
}

@media only screen and (max-width: 800px) {
  .agritalAd {
    width: 100%;
    height: auto; /* Yükseklik otomatik olarak ayarlanacak */
  }
}

/*AGRITAL AD END*****************************************************************/








